<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Credit Hours</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(course => { %>
                <tr>
                    <td><%= course.course_id %></td>
                    <td><%= course.course_name %></td>
                    <td><%= course.credit_hours %></td>
                    <td>
                        <form method="POST" action="/courses/<%= action === 'add' ? 'add' : 'delete' %>">
                            <input type="hidden" name="course_id" value="<%= course.course_id %>">
                            <% if(action === 'delete' || course.taken) { %>
                                <input type="submit" value="DELETE">
                            <% } else { %>
                                <input type="submit" value="ADD" <%= course.taken ? 'disabled' : '' %>>
                            <% } %>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>
