<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1><center>Welcome User: <%= username %></center></h1>
        
        <table>
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td><%= username %></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><%= first_name %></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><%= last_name %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><%= email %></td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td><%= year %></td>
                </tr>
                <tr>
                    <td>Major</td>
                    <td><%= major %></td>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td><%= degree %></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>
