<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main class="container">
  <h2 style="margin-top: 1.5%;">Write Your Review For <%= name %> located in <%= location %></h1>
  <form action="/posts/add" method="POST">
    <div class="form-group">
      <input type="hidden" class="form-control" id="user" name="user" required value="<%= user.username %>">
    </div>
    <div class="form-group">
      <input type="hidden" id="restaurantName" name="restaurantName" value="<%= name %>" />
    </div>  
    <div>
      <input type="hidden" id="locationOf" name="locationOf" value="<%= location %>" />
    </div>
    <div class="form-group">
      <label for="postContent">Review</label>
      <textarea class="form-control" id="postContent" name="postContent" rows="3" required></textarea>
    </div>
    <div class="ratings-buttons" style="margin-bottom: 5px; margin-top: 5px;">
      <t>Rating</t> <br>
      <input type="radio" name="starRating" id="one" value='1' required/>
      <label for="one"><img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20"></label>

      <input type="radio" name="starRating" id="two" value='2'/>
      <label for="two">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
      </label>

      <input type="radio" name="starRating" id="three" value='3'/>
      <label for="three">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
      </label>

      <input type="radio" name="starRating" id="four" value='4'/>
      <label for="four">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
      </label>

      <input type="radio" name="starRating" id="five" value='5'/>
      <label for="five">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
        <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
      </label>
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" id="alias" name="alias" required value="<%= locals %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

<%- include ('../partials/footer') %>

