<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    main{
        color: #000000;
    }
    /* Add more styles as needed */
</style>


<main>
    <div class="profile-margin">
        <h3>Welcome, <%= user.username %></h3>

        <% if (reviews && reviews.length > 0) { %>
            <p>Here are your most recent reviews:</p>
            <ul style="max-width: 45%; margin: 1%; border: 1px solid black;">
                <% reviews.forEach(review => { %>
                    <p><strong>Title:</strong> <%= review.title %></p>
                    <p><strong>Content:</strong> <%= review.content %></p>
                    <p><strong>Rating:</strong> <%= review.rating + ' â­'%></p>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You don't have any reviews yet.</p>
        <% } %>

        <% if (wishlist && wishlist.length > 0) { %>
            <p>Wishlist:</p>
            <% wishlist.forEach(wish => { %>
                <p><strong>Restaurant:</strong> <%= wish.restaurant %></p>
            <% }) %>
        <% } else { %> 
            <p>Your wishlist is empty.</p>
        <% } %>
    </div>
</main>

<%- include ('../partials/footer') %>
