<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>




<main>
    <div class="container">
    <h1 style="color: #00d0f5; padding-top: 1%;">Reviews for <%= name %> located in <%= location %></h1>
    <div class="col"></div>
    <a  style="color: #000000;"  href="/posts/new" class="btn btn-success mb-4">Add New Review</a>
    <table class="table" style="width: 100%;">
      <colgroup>
        <col style="width: 10%;">
        <col style="width: 78%;">
        <col style="width: 12%;">
      </colgroup>
      <thead>
        <tr>
          <th>User</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
            <tbody>
            <% for(let i = 0; i < reviews.length; i++){ %>
                <tr>
                    <td>
                        <%= reviews[i].username %>
                    </td>
                    <td>
                        <%= reviews[i].content %>
                    </td>
                    <td>
                        <% yellow = reviews[i].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            <% }; %>
                <tr>
                    <td>
                        <%= yelp[0].user.name %>
                    </td>
                    <td> 
                       <%= yelp[0].text %>
                    </td>
                    <td> 
                        <% yellow = yelp[0].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= yelp[1].user.name %>
                    </td>
                    <td> 
                        <%= yelp[1].text %>
                    </td>
                    <td> 
                        <% yellow = yelp[1].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= yelp[2].user.name %>
                    </td>
                    <td> 
                        <%= yelp[2].text %>
                    </td>
                    <td> 
                        <% yellow = yelp[2].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>