<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <div style="padding: 2% 2% 3% 2%; display: flex; justify-content: space-between;">
            <style>
                #rrl {
                  color: #00d0f5;
                  white-space: nowrap; /*keeps text on one line*/
                  overflow: hidden; /*hides any overflox*/
                }
              </style>
              
              <script>
                window.onload = function adjustFontSize() {
                    var resize = document.getElementById("rrl");

                    var containerWidth = resize.offsetWidth; //width of container
                    var textWidth = resize.scrollWidth; //width of text
              
                    if (textWidth > containerWidth) {
                      var fontSize = parseInt(window.getComputedStyle(resize).fontSize); //computed style returns object of css info and we extract the fontSize
                      resize.style.fontSize = fontSize - 1 + "px"; //lower it one px
                      adjustFontSize(); // call recursively until it fits
                    }
                  };
              </script>
              
              <h1 id="rrl">Reviews for <%= name %> located in <%= location %></h1>
              
            <a href="/posts/new" style="padding-left: 1%;"><button class="rBtn rBtn-1 rSep icon-pencil";">Add New Review</button></a>
        </div>        
        <div class="row" style="padding-bottom: 1%; display: grid; gap: 10px; grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));">
            <% for(let i = reviews.length-1; i >= 0; i--){ %>
                <div class="card" style="width: 18rem; height: 20rem; outline-style: solid; outline-width: 2px; outline-color: cyan;">
                    <div class="card-body">
                        <div style="padding: 1% 3%; display: flex; justify-content: space-between;">
                            <h5 class="card-title"><a id="userClick"><%= reviews[i].username %></a></h5>
                            <a title="Click to go to profile" href="/profile/<%= reviews[i].username %>" id="userClick" class="card-link" style="margin-top: auto;">
                                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 30px; float: right;"></i>
                            </a>  
                        </div>
                    <p class="card-rating">
                        <% yellow = reviews[i].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </p>
                    <p class="card-text" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 9; max-height: 20em; text-overflow: ellipsis;"><%= reviews[i].content %>.</p>
                    </div>
                </div>
            <% } %>

            <% for(let i = 0; i < yelp.length; i++) { %>
                <div class="card" style="width: 18rem; outline-style: solid; outline-width: 2px; outline-color: red;">
                    <div class="card-body">
                        <div style="padding: 1% 3%; display: flex; justify-content: space-between;">
                            <h5 class="card-title"><%= yelp[i].user.name %></h5>
                            <img src="https://cdn-icons-png.flaticon.com/512/168/168812.png" alt="Yelp" style="height: 25px; width: 25px;">
                        </div>
                    <p class="card-text">
                        <% yellow = yelp[i].rating %>
                        <% gray = 5 - yellow %>
                        <% for(j = 0; j < yellow; j++) { %>
                            <img src="https://png.pngtree.com/png-clipart/20220926/original/pngtree-shiny-gold-star-clipart-illustration-design-png-image_8633179.png" alt="Yellow Star" width="20" height="20">
                        <% } %>
                        <% if(gray > 0) { %>
                            <% for(k = 0; k < gray; k++) { %>
                                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="Gray Star" width="20" height="20">
                            <% } %>
                        <% } %>
                    </p>
                    <p class="card-text"><%= yelp[i].text %> %>.</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
