<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <h1>Reviews for <%= name %></h1>
        <div class="col"></div>
        <a href="/posts/new" class="btn btn-success mb-4">Add New Review</a>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < reviews.length; i++){ %>
                <tr>
                    <td>
                        <%= reviews[i].username %>
                    </td>
                    <td>
                        <%= reviews[i].title  + ": " + reviews[i].content %>
                    </td>
                    <td>
                        <%= reviews[i].rating + ' ⭐' %>
                    </td>
                </tr>
            <% }; %>
                <tr>
                    <td>
                        <%= yelp[0].user.name %>
                    </td>
                    <td> 
                       <%= yelp[0].text %>
                    </td>
                    <td> 
                        <%= yelp[0].rating + ' ⭐' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= yelp[1].user.name %>
                    </td>
                    <td> 
                        <%= yelp[1].text %>
                    </td>
                    <td> 
                        <%= yelp[1].rating + ' ⭐' %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= yelp[2].user.name %>
                    </td>
                    <td> 
                        <%= yelp[2].text %>
                    </td>
                    <td> 
                        <%= yelp[2].rating + ' ⭐' %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>