<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <script src="script.js"></script>
    <div class="container">
        <% if (search && search.length > 0) { %>
            <h1>Search Results</h1>
            <div class="col"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Reviews</th>
                        <% if(user){ %>
                            <th>Wishlist</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < search.length; i++) { %>
                        <tr>
                            <td>
                                <%= search[i].name %>
                            </td>
                            <td> 
                                <img src=<%=search[i].image_url %> width=150> 
                            </td>

                            <% let link='/reviews/' + search[i].alias %>

                            <td> 
                                <a href=<%=link %>> <button class="btn btn-info" 
                                    type="button">See Reviews for <%= search[i].name %></button></a>
                            </td>
                            <td>
                                <% if (user) { %>
                                    <% if (userWishlist.includes(encodeURIComponent(search[i].alias))) { %>
                                        <div class="toggle-button checked" restaurant-name="<%= encodeURIComponent(search[i].name) %>" restaurant-alias="<%= search[i].alias %>" onclick="toggleButton(event, '<%= user.username %>', '<%= location %>')">
                                            <span class="iconPlus" id="iconPlus" style="opacity: 0;">+</span>
                                            <span class="iconCheck" id="iconCheck" style="opacity: 1;">&#10003;</span>
                                        </div>
                                    <% } else { %>
                                        <div class="toggle-button" restaurant-name="<%= encodeURIComponent(search[i].name) %>" restaurant-alias="<%= search[i].alias %>" onclick="toggleButton(event, '<%= user.username %>', '<%= location %>')">
                                            <span class="iconPlus" id="iconPlus" style="opacity: 1;">+</span>
                                            <span class="iconCheck" id="iconCheck" style="opacity: 0;">&#10003;</span>
                                        </div>
                                    <% } %>  
                                <% } %>                  
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <h2 style="text-align: center; padding-top: 20%;">Hmmmm, nothing was found. Modify your search and try again.</h2>
        <% } %>
    </div>
</main>

<%- include ('../partials/footer') %>
